.form-field {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 30px;
}

.button-start-container {
  display: flex;
  justify-content: center;
}

@media (min-width: 800px) {
  .form-field-container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .form-field {
    width: 40%;
  }
}
