<div *ngIf="user; else showLogin">
  <mat-toolbar color="primary">
    <button mat-icon-button class="menu-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Evaluaciones</span>
    <div class="button-menu-container">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <span class="user-name">{{user.displayName}}</span>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
<ng-template #showLogin>
  <div class="login-card-container">
    <mat-card class="login-card">
      <mat-card-title class="card-title">
        Sistema de Evaluaciones
      </mat-card-title>
      <mat-card-subtitle class="card-subtitle">
        Login
      </mat-card-subtitle>
      <mat-card-content class="card-content">
        <img src="assets/exam.png" alt="Evaluaciones" width="80%">
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button class="button-login" mat-raised-button (click)="login()">
          <img src="assets/google.png" alt="google" width="20px">
          Google
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>
